<div class="hero-unit" style="text-align: center;">
	<h1 class="alert alert-block"><%= result %></h1>
	<hr />
	<p>
		<h2 class="alert alert-info">You did it in <%= time %> seconds</h2>
		<h2 class="alert alert-error">You failed <%= wrong + (wrong == 1 ? ' word' : ' words') %></h2>
		<h2 class="alert alert-success">And did <%= correct + (correct == 1 ? ' word' : ' words') %> right!</h2>
	</p>
	<hr />
	<p>
		<a class="btn btn-primary btn-large start"> Play again! </a>
	</p>
</div>