<span class="label label-important pull-right num-of-words-wrong"></span>
<span class="label label-success pull-right num-of-words"></span>
<span class="label label pull-right time-words"></span>
<div class="hero-unit" style="text-align: center;">
	<h1 class="currentword"><%= word %></h1>
	<hr />
	<p>
		
		<% for(var i=0; i<similar.length; i++) { %>
			<a href="javascript://" data-word="<%= similar[i] %>" class="word-button btn btn-primary btn-large"><%= similar[i] %></a>
		<% } %>
	
	</p>
</div>